/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #333333;
  font: 13.34px Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

p { margin: 1em 0; }

a         { color: #CE534D; }
a:hover   { color: #a00; }

.right { float:right; }

.clear { clear:both; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 12px;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.posts .pagination {
  margin: 2px 0 2px 0;
  padding-top: 17px;
}

.posts .pagination span {
  color: #000;
  font-family: Helvetica;
  font-size: 14px;
  margin-right: 4px;
}

.posts .pagination a.previous {
  margin-right: 4px;
}

.intro {
  border-top: 1px dotted grey;
}

.intro ul {
  margin-left: 17px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#wrapper {
  text-align: justify;
  width: 800px;
  margin: 30px auto 0;
  line-height: 1.5em;
  font-size: 14px;
}

#header {
  padding: 24px 12px 12px;
  margin-bottom: 30px;
  font-size:38px;
  background-color: #FFFFFF;
  border: 1px solid;
}

#header a {
  font-weight: bold;
  text-decoration: none;
  color: #a00;
}

#header a:hover {
  color: #000;
}

#header .icons {
  margin-left: 20px;
}

#header .icons img {
  height: 26px;
}

#header a.extra {
  color: #aaa;
  margin-left: 1em;
}

#header a.extra:hover {
  color: #000;
}

#main-content {
  padding: 12px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid;
}

#footer {
  padding: 12px;
  margin-bottom: 30px;
  font-size: 80%;
  color: #666;
  background-color: #FFFFFF;
  border: 1px solid;
}

#footer {
  line-height: 1.5em;
}

#footer a {
  color: #8085C1;
}

#footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

#footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post #title {
  font-size: 24px;
}

.post #timestamp {
  font-size: 12px;
  font-style: italic;
}
