---
layout: default
title: CodeBestowed
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in paginator.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      <span class="page_number ">Page: <b>{{ paginator.page }}</b> of {{ paginator.total_pages }}</span>

      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="/" class="previous">&laquo; Previous</a>
        {% else %}
          <a href="/page{{ paginator.previous_page }}" class="previous">&laquo; Previous</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next" style="color:#a00;">Next &raquo;</a>
      {% endif %}
    </div>
  </ul>

  <div class="intro">
    <p>Welcome to CodeBestowed!</p>

    <p>I hope that reading my blog is a rewarding and entertaining experience for you.</p>

    <p>My primary goals for this blog are:</p>

    <ul type="square">
      <li>
        Provide insight into my struggles and triumphs as I attempt to start and grow a software company. (More details on that later...)
      </li>
      <li>
        Describe technical challenges that I encounter along the way, and any solutions, if applicable, that I discover.
      </li>
      <li>Increase my "Internet footprint."</li>
      <li>Become a better and faster writer.</li>
    </ul>

    <p>Who am I? Well, until I add an "About Me" page, please see my <a href="http://www.linkedin.com/pub/eric-tipton/4/666/a83">LinkedIn profile</a>.</p>

    <p>Thanks for reading,</p>

    <p>Eric Tipton</p>
  </div>
</div>
