<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  </head>
  <body>

    <div class="site">
      <div class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a>
          <span class="icons">
            <a href="/feed.xml"><img src="/images/rss.png"/></a>
            <a href="https://github.com/etipton"><img src="/images/github.png"/></a>
            <a href="http://stackoverflow.com/users/1938879/etipton"><img src="/images/stackoverflow.png"/></a>
            <a href="http://www.twitter.com/EricCTipton"><img src="/images/twitter.png"/></a>
            <a href="http://www.cardplayer.com/poker-players/79293-eric-tipton"><img src="/images/cardplayer.png"/></a>
            <a href="http://www.linkedin.com/pub/eric-tipton/4/666/a83"><img src="/images/linkedin.png"/></a>
          </span>
        </h1>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Eric Tipton, Wantrepreneer <a href="/wantrepreneer">(what is this?)</a><br/>
            ------------------------------<br/>
            <a href="http://www.linkedin.com/pub/eric-tipton/4/666/a83">LinkedIn profile</a> |
            <a href="https://github.com/etipton">github.com/etipton</a> |
            <a href="http://stackoverflow.com/users/1938879/etipton">StackOverflow</a> |
            <a href="http://www.twitter.com/EricCTipton">@EricCTipton</a> |
            <a href="mailto:eric.tipton@gmail.com">eric.tipton@gmail.com</a>
          </p>
          Copyright (c) 2014, Eric Tipton; all rights reserved.
        </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48554518-1', 'codebestowed.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>
